In [7]:
def prime(n):
    n=0
    count=0
    for i in range(1,n//2+1):
        if n%1==0:
            count=count+1
a=int(input("enter a value"))
b=int(input("enter b value"))
    if count==2
        print("value",n)
prime(n)

IndentationError: unexpected indent (<ipython-input-7-81b7acabaf58>, line 9)

# PYTHON DATA STRUCTURES 
- LIST
- TUPLE
- DIC
- SET
- STACK
- QUEUE
- enclosed by brackets []

# List
- collection of elements of different types
- enclosed by brackets []
- seperated by commas(,)

# List Operations
- addition
- replication
- membership test
- slicing

In [8]:
l = [] #empty list

In [9]:
l=[1,2,3,"thor",67.85]
l

[1, 2, 3, 'thor', 67.85]

In [10]:
type(l)

list

In [12]:
l1=[12,"string",35,31.85,"python"]

In [13]:
l1

[12, 'string', 35, 31.85, 'python']

In [14]:
l+l1

[1, 2, 3, 'thor', 67.85, 12, 'string', 35, 31.85, 'python']

In [18]:
l[2]=456889

In [22]:
l

[1, 2, 456889, 'thor', 67.85, 'siddu']

In [17]:
l

[1, 2, 3, 'thor', 67.85]

## list methods
- append(),insert(),remove(),index(),count(),pop()

In [19]:
l.append("siddu")

In [20]:
l

[1, 2, 456889, 'thor', 67.85, 'siddu']

In [21]:
l[1:4]

[2, 456889, 'thor']

In [23]:
l[-5:-2]

[2, 456889, 'thor']

In [27]:
l.append(5124541)

In [28]:
l

[1, 2, 456889, 'thor', 67.85, 'siddu', 5124541]

In [29]:
l[::-1]

[5124541, 'siddu', 67.85, 'thor', 456889, 2, 1]

In [30]:
l.append(l1)

In [31]:
l

[1,
 2,
 456889,
 'thor',
 67.85,
 'siddu',
 5124541,
 [12, 'string', 35, 31.85, 'python']]

In [32]:
l.extend(l1)

In [33]:
l

[1,
 2,
 456889,
 'thor',
 67.85,
 'siddu',
 5124541,
 [12, 'string', 35, 31.85, 'python'],
 12,
 'string',
 35,
 31.85,
 'python']

In [34]:
l.insert(1,12)

In [35]:
l

[1,
 12,
 2,
 456889,
 'thor',
 67.85,
 'siddu',
 5124541,
 [12, 'string', 35, 31.85, 'python'],
 12,
 'string',
 35,
 31.85,
 'python']

In [36]:
a1=[12,"vc",552,"ks",31.35]

In [56]:
a1

[12, 552, 'ks', 31.35]

In [50]:
v=[1,25,45,6,87,66]

In [51]:
v

[1, 25, 45, 6, 87, 66]

In [52]:
v.sort()

In [53]:
v

[1, 6, 25, 45, 66, 87]

In [57]:
v.append(a1)

In [58]:
v

[1, 6, 25, 45, 66, 87, [12, 552, 'ks', 31.35]]

In [59]:
a1[0]

12

In [60]:
v.extend(a1)

In [61]:
v

[1, 6, 25, 45, 66, 87, [12, 552, 'ks', 31.35], 12, 552, 'ks', 31.35]

In [63]:
v.count(a1)

1

In [64]:
v

[1, 6, 25, 45, 66, 87, [12, 552, 'ks', 31.35], 12, 552, 'ks', 31.35]

In [69]:
v[6].insert(45,46788)

In [73]:
v.pop()

31.35

In [74]:
a1.pop()

46788

In [76]:
v.append(a1.insert(564,455))

In [77]:
v

[1, 6, 25, 45, 66, 87, [12, 46788, 552, 'ks', 31.35, 455], 12, 552, 'ks', None]

In [82]:
v.pop()

552

In [79]:
v

[1,
 6,
 25,
 45,
 66,
 87,
 [12, 46788, 552, 'ks', 31.35, 455],
 12,
 552,
 'ks',
 None,
 552]

In [83]:
v

[1, 6, 25, 45, 66, 87, [12, 46788, 552, 'ks', 31.35, 455], 12, 552, 'ks', None]

In [89]:
v[6].remove(12)
v

[1, 6, 25, 45, 66, 87, [46788, 552, 'ks', 31.35, 455], 12, 552, 'ks', None]

In [93]:
v.count(552)

1

In [94]:
b=["i",5,5,7,862,56,862,"phone"]

In [95]:
b

['i', 5, 5, 7, 862, 56, 862, 'phone']

In [96]:
b.count(862)

2

In [97]:
b.index("phone")

7

In [100]:
b.append(132)

In [101]:
b

['i', 5, 5, 7, 862, 56, 862, 'phone', 132]

In [102]:
d = b.copy()

In [103]:
d

['i', 5, 5, 7, 862, 56, 862, 'phone', 132]

In [104]:
d.clear()

In [105]:
d

[]

In [106]:
b

['i', 5, 5, 7, 862, 56, 862, 'phone', 132]

In [107]:
d.append(234)

In [108]:
d

[234]

In [109]:
b = d
b

[234]

In [110]:
b.clear()

In [111]:
b

[]

In [112]:
b = d

In [113]:
b

[]

In [114]:
d

[]

In [117]:
v.pop()
v

[1, 6, 25, 45, 66, 87, [46788, 552, 'ks', 31.35, 455], 12, 552]

In [118]:
v.pop()

552

In [119]:
v

[1, 6, 25, 45, 66, 87, [46788, 552, 'ks', 31.35, 455], 12]

In [122]:
del v

In [124]:
b

[]

In [126]:
a1

[46788, 552, 'ks', 31.35, 455]

In [129]:
v=input("enter").split()
v

enter1 2 3 5 7 8 9

['1', '2', '3', '5', '7', '8', '9']

In [130]:
s=input("Enter ").split()
for i in s:
    print(i)

Enter 1 4 5 2 3 6 4
1
4
5
2
3
6
4

In [131]:
L=input("Enter ").split()
s=0
for i in range(len(L)):
    s+=int(L[i])
print(s)

Enter 1 5 9 3 5 7 4 6 8
48

In [132]:
del v

In [133]:
v

NameError: name 'v' is not defined

In [160]:
v=input("enter").split()
s=input("enter").split()
a=[]
for i in range(len(v)):
        a.append(int(s[i])+int(v[i]))
print(a)

enter1 2 3
enter4 5 6
[5, 7, 9]

In [5]:
m=int(input("Enter No.of Extensions"))
l=[]
for i in range(1,m+1):
    k=input("Enter:").split('.')
    l.append(k[1])
c=l.count("com")
t=l.count("txt")
o=l.count("org")
print(max(c,t,o))

Enter No.of Extensions5
Enter:hii.txt
Enter:hello.org
Enter:huh.com
Enter:hri.txt
Enter:ggg.txt
3

In [11]:
g=input("enter").split()
z=0
print(g)
for i in range(len(g)):
    if g[i].isdigit():
        z+=int(g[i])
print(z)

enter23 fhc 12
['23', 'fhc', '12']
35

#

# TUPLE
- similar to list
- enclosed by paranthesis()
- immutable
# touple methods
- count(),index()

In [12]:
t=1,2,3,5

In [13]:
t

(1, 2, 3, 5)

In [14]:
t*2

(1, 2, 3, 5, 1, 2, 3, 5)

In [16]:
t[1:3]

(2, 3)

In [17]:
t.index(3)

2

In [18]:
t.count(2)

1

In [19]:
c=list(t)
c

[1, 2, 3, 5]

In [20]:
t=tuple(c)
t

(1, 2, 3, 5)

# set
## collection of unique/distinct elements
- enclosed by {}
- mutable

In [21]:
s={1,3,54,3,8,3}
s

{1, 3, 8, 54}

In [22]:
s.add(45)

In [23]:
s

{1, 3, 8, 45, 54}

In [24]:
s.remove(54)
s

{1, 3, 8, 45}

In [25]:
s1={21,68,81}
s.update(s1)

In [26]:
s

{1, 3, 8, 21, 45, 68, 81}

In [28]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [31]:
u={1,2,4,2,5,7,5,8}
w={1,3,4,5,65,35,43}
print(s.difference(w))
print(w.difference(s))

{68, 8, 45, 81, 21}
{65, 35, 4, 5, 43}

In [32]:
u.difference_update(w)

In [33]:
u

{2, 7, 8}

In [34]:
u.union(w)

{1, 2, 3, 4, 5, 7, 8, 35, 43, 65}

In [39]:
a={1,2,3,5,8,9}
b={1,2,5,4,6,7}
a.intersection(b)
a.intersection_update(b)

In [40]:

a

{1, 2, 5}

In [41]:
b

{1, 2, 4, 5, 6, 7}

In [47]:
g={'a','b','c'}
l={1,2,3,"a","b","c"}
print(g.issubset(l))
l.issubset(g)

True

False

In [46]:
a.isdisjoint(b)

False

In [48]:
u.symmetric_difference(w)

{1, 2, 3, 4, 5, 7, 8, 35, 43, 65}

In [49]:
u.symmetric_difference_update(w)

In [50]:
u

{1, 2, 3, 4, 5, 7, 8, 35, 43, 65}

In [51]:
u

{1, 2, 3, 4, 5, 7, 8, 35, 43, 65}

In [52]:
u.clear()

In [53]:
u

set()

In [55]:
u=w.copy()

In [56]:
u

{1, 3, 4, 5, 35, 43, 65}

In [57]:
u.pop()

65

In [58]:
u

{1, 3, 4, 5, 35, 43}

#  Dictionary
### dictionary methods

In [59]:
d={"key1":12,"key2":31,"key3":35,"key4":52}
d

{'key1': 12, 'key2': 31, 'key3': 35, 'key4': 52}

In [60]:
d["key3"]

35

In [62]:
d.get("key4")

52

In [63]:
d.update({"key5":1231352})

In [64]:
d

{'key1': 12, 'key2': 31, 'key3': 35, 'key4': 52, 'key5': 1231352}

In [65]:
d.update({"digits":[1,2,3,4,5,6,7,8,9]})
d

{'key1': 12,
 'key2': 31,
 'key3': 35,
 'key4': 52,
 'key5': 1231352,
 'digits': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [66]:
d.values()

dict_values([12, 31, 35, 52, 1231352, [1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [67]:
d.items()

dict_items([('key1', 12), ('key2', 31), ('key3', 35), ('key4', 52), ('key5', 1231352), ('digits', [1, 2, 3, 4, 5, 6, 7, 8, 9])])

In [68]:
d.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', 'digits'])

In [69]:
x={}
x.setdefault("1",4)

4

In [70]:
x={}
x.setdefault("1","word")

'word'

In [71]:
x

{'1': 'word'}

In [73]:
x.fromkeys("hello")

{'h': None, 'e': None, 'l': None, 'o': None}

In [74]:
x.fromkeys("hello",23454)

{'h': 23454, 'e': 23454, 'l': 23454, 'o': 23454}

In [77]:
i=d.copy()

In [79]:
i.pop("key4")

52

In [80]:
i

{'key1': 12,
 'key2': 31,
 'key3': 35,
 'key5': 1231352,
 'digits': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [81]:
d.popitem()

('digits', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [82]:
i

{'key1': 12,
 'key2': 31,
 'key3': 35,
 'key5': 1231352,
 'digits': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [83]:
d

{'key1': 12, 'key2': 31, 'key3': 35, 'key4': 52, 'key5': 1231352}

In [84]:
stu={12:"vc",31:"gl",35:"js",52:"ks"}

In [85]:
stu

{12: 'vc', 31: 'gl', 35: 'js', 52: 'ks'}

In [3]:
def addItem(n):
    d={}
    for i in range(n):
        roll=input("enter roll no:")
        name=input("Enter name:")
        branch=input("enter branch:")
        d[roll]=[name,branch]
    return d

#n=int(input("Enter n value:"))
#addItem(n)

def updateItem(n):
    d=addItem(n)
    roll=input("enter roll no:")
    name=input("Enter name:")
    branch=input("enter branch:")
    d.update({roll:[name,branch]})
    return d
n=int(input("Enter n value:"))
updateItem(n)

In [ ]:

def deleteItem(n):
    d=addItem(n)
    roll=input("enter roll no:")
    d.pop(roll)
    return d
n=int(input("enter"))
deleteItem(n)

# regular expression
- it is powerful string manupulation tool
- all modern languages have similar library packages for regular expressions 
- also refered as "regex" or "re"
- provides flexible means for matching sgtrings of text,such as particular characters,words,or pattern of characters

# Regular expression symbols
- ^ Matches the bigining of a line
- $ Matches the end of the line
- '.' Matches any character
- \s white space
- '+' repeats a character one or more times
- [aeiou] Matches a single character in the listed set
- [^XYZ]  Matches a single character not in the listed set

# Methods
- 1.re.match()
     the match method checks for a match only at the bigining of the string
- 2.re.search()
     returns a match object when the pattern is found or else not match if the pattern is not found
- 3.re.findall()
     return a list of all the matches in a single step

In [1]:
import re
print(re.match("p","python"))

<re.Match object; span=(0, 1), match='p'>

In [2]:
print(re.search("p","workshop"))
print(re.search("o","workshop"))

<re.Match object; span=(7, 8), match='p'>
<re.Match object; span=(1, 2), match='o'>

In [3]:
print(re.findall("o","workshop"))

['o', 'o']