In [33]:
u="sdlv"
p="1245"
username = input("Enter username ")
if username == u :
    password = input("Enter Password") 
    if password ==p :
        print("Welcome "+u)
    else :
        print("Invalid username")

Enter username sdlv
Enter Password1245
Welcome sdlv

In [28]:
a=int(input("Enter a Value:"))
b=int(input("Enter b Value:"))
c=int(input("Enter c Value:"))
if  a == b == c :
    print("0")
elif c==a!=b :
    print(b)
elif a==b!=c :
    print(c)
elif b==c!=a :
    print(a)
else:
    print(a+b+c)

Enter a Value:1
Enter b Value:2
Enter c Value:3
6

In [32]:
n=input("Enter n value:")
c=10
d=0
if len(n)<10 or len(n)>11:
    print("Illegal ISBN")
else:
    n=int(n)
    while(n<0):
        r = n%10
        d = d+r*c
        c = c-1
        n = floor(n/10)
    if(d%11 == 0): 
        print("Valid ISBN")
    else:
        print("Invalid ISBN")

Enter n value:1000002000
Valid ISBN

In [40]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
c=((b*(b+1))//2)
print (c)

Enter a value:1
Enter b value:20
210

In [46]:
n=int(input("Enter n value:"))
for i in range(1,11):
     print(n,"*",i,"=",n*i,end="\t")

Enter n value:7
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70

In [48]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
for i in range(a,b+1):
     c=c+1
print (c)

Enter a value:12
Enter b value:123
322

In [61]:
n=int(input("Enter no.of rows:"))
for i in range(n+1):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter no.of rows:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [78]:
n=int(input("Enter no.of rows"))
for i in range(1,n+1):
    for j in range(i+1):
        for k in range(j):
            print("*",end="")
        print()
    print()

Enter no.of rows5

*


*
**


*
**
***


*
**
***
****


*
**
***
****
*****

In [2]:
m=0
while True:
    n=input("Enter value:")
    if n == "stop":
        break
    else:
        k=int(n)
        if m<k:
            m=k
print(m)

Enter value:12
Enter value:31
Enter value:35
Enter value:52
Enter value:stop
52

# String Operations
- replication
- concatination
- membership test
- slicing

In [21]:
a = "avengers infinity war"
b = " thorironman"
d = "spiderman "
c = "12313552"
print(a + b) #cocatination
print(a*3) #replication of string value
print(b*2) #replication of integer value
print('g' in a)
print('d' in b)
print(b[1:5])
a[-7:-2]
print(a[0]+a[9]+a[18])
b[::4]
a[::-2]
print(d + "in" + b)

avengers infinity war thorironman
avengers infinity waravengers infinity waravengers infinity war
 thorironman thorironman
True
False
thor
aiw
spiderman in thorironman

In [14]:
a="STEN"
c="methODS IN STRings"
print(c.casefold())
print(a.casefold())
print(c.swapcase())
c.capitalize()
c.title()

methods in strings
sten
METHods in strINGS

'Methods In Strings'

In [6]:
b="sai tirumala NVR engineering college"
print(b.split())
b.split('a')

['sai', 'tirumala', 'NVR', 'engineering', 'college']

['s', 'i tirum', 'l', ' NVR engineering college']

In [10]:
k="     level two   "
print(k.strip())
print(k.lstrip())
k.rstrip()

level two
level two

'     level two'

In [15]:
a="hello world"
print(a.upper())

HELLO WORLD

In [17]:
a="heLLO WORLD"
print(a.lower())

hello world

In [18]:
a="hello world"
a.islower()

True

In [19]:
a="hello world"
a.isupper()

False

In [23]:
a="1234"
b="cdsx1234"
c="bjkn"
print(a.isdigit())
print(a.isalnum())
print(c.isalpha())

True
True
True

In [32]:
a="cese"
print("".join(a))
"#".join(a)

cese

'c#e#s#e'

In [33]:
print(a.startswith("c"))

True

In [28]:
print(a.endswith("e"))

True

In [34]:
print(a.index("e"))
print(a.count("e"))

1
2

In [38]:
a="siddu"
i=552
f=80
print("name is {} with roll no {} have {} precentage".format(a,i,f))

name is siddu with roll no 552 have 80 precentage

In [75]:
a="abc123hfy52"
sum=0
for i in a:
    if i.isdigit():
        print(i,end="\t")
        sum = sum +int(i)
print(sum)

1	2	3	5	2	13

In [79]:
s=input("enter string")
u=0
l = 0
spl=0
d=0
spa=0
for i in range(len(s)):
    if s[i].isdigit():
        d+=1
    elif s[i].isupper():
        u+=1
    elif s[i].islower():
        l+=1
    elif s[i].isspace():
        spa+=1
    else:
        spl+=1
print(u)
print(d)
print(spl)
print(spa)
print(l)

enter stringGhgguyfgjFFFFF529529 7$%$%ffjgnfjn 8452 HHDHH
11
11
4
3
16

In [80]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# FUNCTIONS
## pre-defined functions
- input(),print(),str(),float(),abs(),min(),max(),len(),type(),ord(),chr()

In [84]:
a="this is python programming class"
min(a)

' '

In [83]:
b="2236"
max(b)

'6'

In [85]:
l=[12,567,876852518]
max(l)

876852518

In [87]:
chr(123)

'{'

In [88]:
ord("@")

64

In [89]:
ord("*")

42

In [90]:
ord("%")

37

In [91]:
ord("a")

97

In [92]:
ord("A")

65

In [97]:
chr(31)

'\x1f'

In [94]:
chr(12)

'\x0c'

In [95]:
chr(52)

'4'

# user defined functions
## required arguments
## keyword arguments
## default arguments
## variable-length arguments

In [104]:
def samplefunction(a,b):
    c=a*b
    return c
a=int(input("enter a"))
b=int(input("enter b"))
samplefunction(a,b)

enter a10
enter b20

200

In [107]:
samplefunction(int(input("enter a")),int(input("enter b")))

enter a65
enter b65

4225

In [110]:
def keywordArgs(a,b):
    print("name {} and roll no is {}".format(a,b))
keywordArgs(b=552,a="siddu")

name siddu and roll no is 552

In [111]:
def keywordArgs(a,b,c):
    print("integer {},string {},float {}".format(b,a,c))
keywordArgs(b=4545,a="vishnu",c=25.2)

integer 4545,string vishnu,float 25.2

# Default arguments

In [113]:
def defaultArgs(A=10,B=25,C="59",d=1.26):
    print(a,b,c,d)
defaultArgs(1)
defaultArgs(1,49,25,568)

10 20 bjkn 1.26
10 20 bjkn 568

# variable length arguments

In [114]:
def variableArgs(a,b,c,*d):
    print(a)
    print(b)
    print(c)
    print(d)
variableArgs(1,2,3,4,5,6,"hi",15,295,848,"python")
variableArgs(1,3,4,5,"ghcyuc")

1
2
3
(4, 5, 6, 'hi', 15, 295, 848, 'python')
1
3
4
(5, 'ghcyuc')

In [115]:
print("1.add 2.sub 3. mul 4.div 5.mod 6.power 7.floor division")

1.add 2.sub 3. mul 4.div 5.mod 6.power 7.floor division

In [116]:
a=int(input("enter a:"))
b=int(input("enter b"))
print("1.add 2.sub 3. mul 4.div 5.mod 6.power 7.floor division")
ch=int(input("enter your choice"))
if ch==1:
    add(a,b)
elif ch==2:
    sub(a,b)
elif ch==3:
    mul(a,b)
elif ch==4:
    div(a,b)
elif ch==5:
    mod(a,b)
elif ch==6:
    fdiv(a,b)
elif ch==7:
    power(a,b)
else:
    print("enter a valid choice")

enter a:132
enter b54
1.add 2.sub 3. mul 4.div 5.mod 6.power 7.floor division
enter your choice5

NameError: name 'mod' is not defined

In [ ]:
a=int("input("enter a value")")
b=int("input("enter b value")")ss